
body{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 95vh;
}

.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
    .shader-web-background-fallback {
      background: url("img/coruptedsun.png");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }

.gallery {
    margin: 50px;
    float: left;
    vertical-align: auto;
    text-align: center;

}
.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
    background-size: cover;

}
.gallery img:hover {
    
    transform: scale(1.25);
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  left: 700px;
}
.tip-button {
  width:23px;
  min-height:23px;
  min-width:23px;
  cursor:pointer;
}
.index-button {
  width:23px;
  min-height:23px;
  min-width:23px;
  cursor:pointer;
}
h1 {
  color: rgb(117, 98, 69);
  text-shadow: 2px 2px #d19e9e;
  font-size: 40px;
  padding-top: 400px;
}
h2 {
  color: rgb(117, 98, 69);
  text-shadow: 2px 2px #d19e9e;
  font-size: 40px;
}
h3 {
  color: rgb(54, 182, 43);
  font-size: smaller;
  bottom: auto;
}
h4 {
  color: rgb(54, 182, 43);
  font-size: smaller;
  position: fixed;
  padding-left: 20px;
  padding-top: 320px;
}


