*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}
#display_image{
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    background-position: center center;
    background-size: cover;
}

h1 {
    color: rgb(0, 0, 0);
    vertical-align: text-top;
    top: 60%;
}

h2 {
    color: rgb(0, 0, 0);
    vertical-align: text-bottom;
  
}

.h3 {
  color: rgb(0, 0, 0);
  
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .headerTop {
    overflow: hidden;
    position: fixed;
    top: 275px;
    width: 100%;
    text-align: center;
  }

  .menu {
    overflow: hidden;
    position: fixed;
    top: 375px;
    width: 100%;
    text-align: center;
  }
  .shader-web-background-fallback {
    background: url("img/coruptedsun.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .tip-button {
    cursor:pointer;
  }